<h1>Courses:</h1>

{{#if courses}}
    {{#each courses}}
        <div class="row">
            <div class="col s6 offset-3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{img}}" alt="{{title}}">
                        <form action="/cart" method="POST">
                            <input type="hidden" name="id" value="{{_id}}">
                            <button type="submit" class="btn btn-primary halfway-fab waves-effect waves-light">Buy</button>
                        </form>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{title}}</span>
                        <p class="price">{{price}}</p>
                    </div>
                    <div class="card-action actions">
                        <a href="/courses/{{_id}}" target="_blank" class="btn btn-flat">More</a>
                        <a href="/courses/{{_id}}/edit?allow=true" target="_blank" class="btn btn-flat">Edit</a>
                        <form action="/courses/{{_id}}/delete?allow=true" method="POST">
                            <button type="submit" class="btn btn-flat">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Courses not found</p>
{{/if}}